@using System.Collections
@using Newtonsoft.Json
@model IEnumerable<Order>

@*@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented, new JsonSerializerSettings
{
  ReferenceLoopHandling = ReferenceLoopHandling.Ignore
}))*@

@{
  ViewData["Title"] = "About";
  ViewData["OrderLines"] = Enumerable.Empty<OrderLine>();
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table class="table">
  <tr>
    <th>
      Id
    </th>
    <th>
      ClientId
    </th>
    <th></th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(x => item.Id)
      </td>
      <td>
        @Html.DisplayFor(x => item.Client.Id)
      </td>
      <td>
        @{
          var orderlines = JsonConvert.SerializeObject(item.OrderLines, Formatting.Indented, new JsonSerializerSettings
          {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
            PreserveReferencesHandling = PreserveReferencesHandling.None
          });
        }
        <button id="editBtn" onclick="ShowOrderLines('@orderlines');">Edit</button>
        <button id="deleteBtn">Delete</button>
      </td>
    </tr>
  }
</table>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <table id="ordLineTbl">
        <tr>
          <th>
            Id
          </th>
          <th>
            ItemId
          </th>
          <th>
            OrderId
          </th>
          <th>
            Quantity
          </th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button>Save</button>
    </div>
  </div>
</div>
